html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}
h1{
  color: #0F3376;
  padding: 2vh;
}
p{
  font-size: 1.5rem;
}
.sliderR {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 10%; /* Full-width */
  height: 5px; /* Specified height */
  background: #ff0000; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
.sliderG {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 10%; /* Full-width */
  height: 5px; /* Specified height */
  background: #00ff00; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
.sliderB {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 10%; /* Full-width */
  height: 5px; /* Specified height */
  background: #0000ff; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}